

.card {
   
    border-radius: 8px;
    color: #f1f1f1;
    background-color: rgb(15, 15, 15);
    width: 250px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase ;
    transition: 0.5s;
    background-size: 200% auto;
    border-color: rgb(188, 87, 87);

      
     
}

.imgCard{
    object-fit: cover;
    width: 200px;
    height: 100px;
    align-items: center;
    text-transform: uppercase ;
    transition: 0.5s;
    margin-bottom: 25px;
   

}

.divInfo{
    text-align: left;
    padding: 0 10px 15px 15px;
    background-color: #3b3b3b;
    color: #f1f1f1;
    width: 50%;
    height: 30px;
    border-radius: 8px;
    
}

.ContentTitle{
    font-size: 15px;
    padding: 0px;
}

.RatingNumber{
    font-size: 10px;
}

.NameTitle{
    font-size: 19px;
}

.otherCaracters{
    opacity: 0;
}


.card:hover .otherCaracters{
    opacity: 100;
}







