


.cardDetail{
    border-color: aliceblue;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: #171c24;
    align-content: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 80px; 
    margin-left: 150px;     
    display: flexbox;      
    overflow-x:hidden; 
    align-items: center;  
    justify-content: center;
    
}


.containterLeft{
    text-align: left;
    padding: 20px 40px;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;  
    
}


.info{
    flex-direction: column;
    padding: 30px;
    color: #171c24;
    font-size: 40px;
}
.imgDetailCard{
    width: 500px;
    height: auto;
}

.loading img{
    width: 100%;
    height: 100%;

}

