


  
  .loading1{ 
    position: absolute;
  
    top: 50%;
    left: 46%;
    margin: -25px 0 0 -25px; 
  }
  

  .not_found {
    width: auto;
    height: 92vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

.image_not_found {
	width: 1080px;
}


.landing {
	display: flex;
	justify-content: space-around;

}

  .allHome {
    background: #ffffff;
    ;
  }

  .card-container {
    margin-top: 40px;
  }

  .filter-container {
    position: relative;
    top: 30px;
  }

  .filter-container select {
    margin-right: 8px;
    border-radius: 8px;
    padding: 4px 8px;
  }

  .custom-select:hover{
    background: #171c24;
    color: white;
  }