

.loader {

    width: 150px;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.text {
    color: #171c24;
    width: 100px;
    font-family: 'Bebas Neue',Times,serif;
}
.loader span{
    
    font-size: 30px;
    text-transform: uppercase;
    margin: auto;
}

.ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #171c24;
    animation: bounce .5s alternate infinite;
}

.ball:nth-child(2) {
    animation-delay: .16s;
}

.ball:nth-child(3) {
    animation-delay: .32s;
}

@keyframes bounce {
    from {
        transform: scalex(1.25);
    }
    to{
        transform: 
        translateY(-50px) scaleX(1);
    }
}