@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.page-conteiner{
    border: none;
    
    padding: 0.6rem;
    size-adjust: 50%;
    align-items: center;
    justify-content: center;
}

.paginated{
    display: inline-block;
    padding: 0.1rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    color: #171c24;
    overflow-x:hidden; 
    align-items: center;  
    
}

.paginated li {
    display: inline;
    margin-right: 8px;
}

.btnPage{
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 9px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    background-color: #171c24;
}

.paginated a:hover{
    background: #000000;
    color: aliceblue;
    
    
}

