.containerSearch{
    padding: 10px;
    border: none;


}
.containerSearch a.active {
    background-color: #2196F3;
    color: white;
  }

  .videogameSearch{
      width: 200px;
      height: 30px;
      font-size: 15px;
  }

  .search-error{
      color: rgb(172, 172, 172)
  }